body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #3b5998;
  color: white;
  padding: 20px 150px;
}

.logo-and-sign-up {
  display: flex;
}

.logo-and-sign-up h1 {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.logo-and-sign-up button {
  background-color: #42b72a;
  color: white;
  border-style: none;
  width: 60px;
}

.header-nav {
  align-self: center;
}

.main-content {
  padding: 20px 150px;
}

.create-your-page {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.create-your-page li {
  background-color: white;
  text-align: center;
  padding: 20px;
  width: 480px;
}

.create-your-page li:first-child {
  margin-right: 20px;
}

.create-your-page h5 {
  font-size: 18px;
}

.create-your-page p {
  color: gray;
  margin-bottom: 80px;
}

.create-your-page button {
  padding: 5px 10px;
}