body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #3b5998;
  color: white;
  padding: 20px 150px;
}

.logo-and-sign-up {
  display: flex;
}

.logo-and-sign-up h1 {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.logo-and-sign-up button {
  background-color: #42b72a;
  color: white;
  border-style: none;
  width: 60px;
}

.header-nav {
  align-self: center;
}

.main-content {
  padding: 20px 150px;
}